:root {
--primary-brand : #4D5AE5;
--text-col : #434455;
--dark : #2E2F42;
--subtle-text : #8E8F99;
--accent : #E7E9FC;
--light : #F4F4FD;
--success : #31D0AA;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.list {
    list-style: none; 
}
.link {
    text-decoration: none;
}
.page-header {
    background-color: #fff;
}
.logo {
color: #4D5AE5;
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.text-logo {
    color: #2E2F42;
}
.menu-link {
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 1.5;
color: var(--dark);
}
.contact-phone {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-col);
}
.contact-phone:hover,
.contact-phone:focus {
    color: var(--primary-brand)
}
.contact-mail {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-col);
}
.contact-mail:hover,
.contact-mail:focus {
    color: var(--primary-brand);
}

.hero {
    background-color: var(--dark);  
  }
.hero-title {
      color: #FFFFFF;;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  }

.btn {
font-weight: 600;
font-size: 16px;
line-height: 1.19;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}
.btn:hover,
.btn:focus {
    background-color: var(--primary-brand);
    color: #ffffff;
}
.filter-btn {
    
}
.hided {
    display: none;
}
.secondary-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.works-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42; 
}
.team-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
.section-team {
 background-color: var(--light);
}
.page-footer {
    background-color: var(--dark);
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.text-logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #E7E9FC;
}
.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}





